[submodule "cimgui"]
	path = cimgui-pack/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "cimplot"]
	path = cimgui-pack/cimplot
	url = https://github.com/cimgui/cimplot.git
[submodule "cimnodes"]
	path = cimgui-pack/cimnodes
	url = https://github.com/cimgui/cimnodes.git
[submodule "cimgui-pack/test_engine/imgui_test_engine"]
	path = cimgui-pack/test_engine/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
