# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
julia:
  - 1.3
  - nightly
matrix:
  allow_failures:
    - julia: nightly
    - os: windows
  fast_finish: true
notifications:
  email: false
dist: bionic
services:
  - xvfb
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
